<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>__LABEL__</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__DATA_ROOT__/current/scripts/run_local_supervisor.sh</string>
		<string>--instance</string>
		<string>local</string>
	</array>

	<key>WorkingDirectory</key>
	<string>__DATA_ROOT__/current</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>PATH</key>
		<string>__HOME__/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>__STATE_RUNTIME__/supervisor.enabled</key>
			<true/>
		</dict>
	</dict>

	<key>ThrottleInterval</key>
	<integer>10</integer>

	<key>ProcessType</key>
	<string>Background</string>

	<key>StandardOutPath</key>
	<string>__LOG_DIR__/launchagent.out.log</string>
	<key>StandardErrorPath</key>
	<string>__LOG_DIR__/launchagent.err.log</string>
</dict>
</plist>
